@charset "utf-8";
/* CSS Document */
#listCont{
	width:1020px;
	min-width:1020px;
	height:auto;
	margin:20px auto;
}
.goods-list{
	position: relative;
}
.goods-list li{
	position: absolute;
	width:225px;
	margin:12px;
}

.goods-list li img{
	width:225px;
}