@charset "utf-8";
/* CSS Document */
#member{
	width:1020px;
	height:600px;
	margin:0 auto;
	font-size:12px;
}

#member #member_sidebar{
	width:205px;
	height:600px;
	margin:0 15px;
	background:#FFFEFE;
	float:left;
}
#member #member_main{
	width:780px;
	height:600px;
	border-left:1px solid black;
	border-right:1px solid black;
	float:right;
}
#member_sidebar img{
	width:100px;
	height:100px;
	margin:40px 50px 60px;
	border-radius: 3px;
}

#member_sidebar dd{
	height: 60px;
	text-align: center;
	font-size:14px;
	border-bottom: 1px solid #ccc;
}
#member_sidebar dd a{
	display:block;
	height: 60px;
	line-height: 60px;
	color:#333;
	text-decoration:none;
}
#member_sidebar dd a:hover{
	background:#ccc;
}
.active{
	background-color: #ff9;
}

#member_main .member-cont{
	width: 780px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #fffefe;
	border-bottom: 1px solid #000;
}
#member_main form{
	margin-top: 20px;
	margin-bottom: 40px;
}
#member_main ul{
	margin:10px 20px;
	line-height:30px;
	text-indent:10px;
	font-size:14px;
	overflow: hidden;
}
#member_main ul li{
	width:120px;
	float:left;
}
#member_main ul li a{
	color:#666;
}
#member_main dl{
	clear:both;
}
#member_main dd{
	margin:5px 0px;
	line-height:27px;
	text-indent:10px;
	font-size:14px;
}
#member_main dd span{
	display: inline-block;
	width: 100px;
	text-align: right;
}
#member_main #area{
	width:60px;
}
#member_main .sub{
	width:60px;
	height:27px;
	margin:20px 100px;
	border:0px;
	color:#FFF;
	font-size:14px;
	line-height:27px;
	background:#f33;
	border-radius: 2px;
}